.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0px;
  background-color: var(--color-modal-overlay-bg);
}
.main-container {
  position: absolute;
  overflow: auto;
  padding: 1rem;
  border: none;
  outline: none;
}
