.main-container {
  background-color: var(--color-modal-bg);
  padding: 1rem 1.5rem 1.5rem 1.5rem;
}
.form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
